# {
#   "username": "testuser123",
#   "email": "test@example.com",
#   "password": "TestPass123!"
# }

# MONGO_STRING=mongodb://localhost:27017/brainx
# JWT_SECRET=super-secret
# FRONTEND_URL=http://localhost:5173
# BACKEND_URL=http://localhost:3000
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=

# {
#   "link": "google.com",
#   "title": "Us elections",
#   "type": "text"
# }
